{% extends 'base.html' %}

{% block content %}
<div class = "container">
    <form  class = 'form-signin' method="post" enctype="multipart/form-data">
      <h2 class="form-signin-heading">Report Art theft description</h2>
      {% csrf_token %}
      {% for field in art %}
        <p>
          {{ field.label_tag }}<br>
            {{ field }}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      *Make sure you provide genuine links that support your claim<br>
      <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
</div>
{% endblock %}