{% extends 'base.html' %}


{% block content %}
    <script>   
 
    $(document).on('click', '.dels', function(e){
        vals = $(this).attr("value");
        id = document.getElementById("user");
        console.log('{{user.id}}'); 
        $.ajax({
            type: "POST",
            url: '/delete/'+vals+'/',
            data:{
                userid: '{{profile_user.id}}',
                artid: '{{arts.id}}',
                loggedid: '{{user.id}}'
            },
            success: function(response){
                $('#commentContainer').html(response);
            }
        });
    });

   
    $(document).on('click', '#commentPost', function(e){
        id = document.getElementById("user"); 
        comment = document.getElementById("commentBox").value;
        $.ajax({
            type: "POST",
            url: '/artwork/'+'{{ arts.id }}'+'/',
            data: {
                comment: comment,
                artid: '{{ arts.id }}',
                loggedid: '{{ user.id }}'
            },
            success: function(response){
                $('#commentContainer').html(response);
                console.log(response);
                document.getElementById("commentBox").value = "";
            }
        });
    });

    $(document).on('click', '#makeVisible', function(e){
        commentVisible = document.getElementById("makeVisible").value;
        console.log(commentVisible);
            $.ajax({
                url: "/makevisible/",
                type: "POST",
                data: {
                    pk: commentVisible
                },
                success: function(response){
                    },
            });
    });


    $(document).on('click', '#makeInvisible', function(e){
        commentInvisible = document.getElementById("makeInvisible").value;
            $.ajax({
                url: "/makeinvisible/",
                type: "POST",
                data: {
                    pk:commentInvisible
                },
                success: function(response){

                }
            });
    });


    </script>
    <div class = "container">
        <div class = "artDiv"> 
            <img class = "artImage" src = "{{MEDIA_URL}}{{arts.drawing}}" height = "400px"><br>
        </div>
        <div class = "artComment">
            Art By: <a href = "/profile/{{profile_user.id}}">{{ profile_user.username }}</a><br>
                Title: {{ arts.title }}<br>
                Description: {{ arts.description }}
                <br>
                    <textarea id = "commentBox" cols="100%"></textarea>
                <br>
                    <button id = "commentPost" type = "submit">Post Comment</button> 
        
                
            <div id = 'artTheft'>
                <a href = "/arttheft/{{arts.id}}">Report Artwork</a>
            </div>
        </div>
        <div id = "commentContainer">
                {% include "comment.html" %}
        </div>
     
    </div>

{% endblock %}