{% load staticfiles %}
<html>
    <head>
        <meta charset = "utf-8">
        <title>Artstation</title>
        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/app.css' %}" />
        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/bootstrap.min.css' %}" />
        <script src = {% static 'js/jquery-3.2.1.min.js' %}></script>
        <script src = {% static 'js/bootstrap.min.js' %}></script>
    </head>
    <body>
        <nav class = "navbar navbar-inverse">
            <div class = "container-fluid">
                <div class = "navbar-header">
                    <a class = "navbar-brand" href = "/">Home</a>
                </div>
            <ul class = "nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                        
                <li><a href = "/profile/{{user.id}}">{{ user.username }}</a></li>
                <li><a href = "/upload">Upload</a></li>
                <li><a href = "/logout">Logout</a></li>
                    
            {% else %}
                        
                <li><a href = "/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a href = "/login"><span class = "glyphicon glyphicon-log-in"></span> Login</a></li>
                    
            {% endif %}
            </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock %}             
        
        <script src = {% static 'js/app.js' %}></script> 
    </body>
</html>