{% extends 'base.html' %}

{% block content %}
    <div class = "indexRow">
        {% for art in arts %}
        <div class = "indexColumn">
            <div class = "indexCard">
                <a href = "/artwork/{{ art.id }}" ><img src = "{{ MEDIA_URL }}{{ art.drawing }}" height = "200px"></a>
                <div class = "indexInfo">
                    <h2>{{ art.title }}</h2>
                    <p>By: {{ art.user.username}}</p>
                </div>
            </div>
        </div>
       {% endfor %}
    </div>
{% endblock %}

