{% extends 'base.html' %}

{% block content %}

<script>
        $(document).on('click', '#Following', function(e){
            id = document.getElementById("user");        
            console.log(document.getElementById("Following").value)
            if(document.getElementById("Following").value == "False"){
                $.ajax({
                        type: "POST",
                        dataType: 'json',
                        url: "/follow/",
                        data: {
                        pk : '{{profile_user.id}}'
                        },
                        success: function(response){
                            document.getElementById("Following").value = "True";
                            $("#Following").text("Following"); 
                        },
                });
    
                
            }else{
                
                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: "/unfollow/",
                    data: {
                    pk : '{{profile_user.id}}'
                    },
                    success: function(response){
                    },
                });
    
                
            }


        });
</script>
    <h4>{{profile_user.username}}</h4>
    <img src = "{{MEDIA_URL}}{{profile_user.image}}" height = "100px">

    <br>
    
    {% if profile_user.username == user.username %}
    <a href = "/edit/{{ profile_user.id }}">Edit Userinfo</a>
    {% endif %}
    <br>
    {% if description == False %}
        No description has been given
        <br>

        {% if profile_user.username == user.username %}
             <br>
            <a href = "/bio">Add description</a>
        {% endif%}
    {% else %}
    <br>

    <div class = "container">
        {% if profile_user.username == user.username %}
        <a href = '/editBio/{{ profile_user.id }}'>Edit Description</a>
        {% endif %}
        <table class = "table">
            <tr>
                <td>
                    Gender
                </td>
            
                <td>
                    {{ description.gender}}
                </td>

            </tr>
            <tr>
                <td>
                    Description
                </td>
                <td>
                    {{ description.bio }}
                </td>
            </tr>
            <tr>
                <td>
                    Hobby
                </td>
                <td>
                    {{ description.hobby }}
                </td>
            </tr>
            <tr>
                <td>
                    Website
                </td>
                <td>
                    {{ description.website }}
                </td>
            </tr>
        </table>
    </div>
    {% endif %}

    <br>
    {% if profile_user.username != user.username %}
        {% if follows == True %}
            <button value = "True" id = "Following">Following</button>
        {% else %}
            <button value = "False" id = "Following">Follow</button>
        {% endif %}
    {% endif %}
    {% if profile_user.username == user.username %}
    <a href = "/profile/following/{{ profile_user.id }}">Following</a>
    {% endif %}
    <div id = "followers">
        Followers
        {% for follower in followers%}
            <a href = "/profile/{{ follower.following.id }}"><img src = "/media/{{follower.following.image}}" height = 50px /></a>
        {% endfor %}
    </div>

    Artworks
    <br>
    <div class = "artwork" class="container-fluid">
    <br>
    {% for arts in art %}
        <div class = "indexColumn" class="col-md-2 col-md-offset-5">
            <div class = "indexCard">
                <a href = "/artwork/{{ arts.id }}" ><img src = "{{ MEDIA_URL }}{{ arts.drawing }}" height = "200px"></a>
                <div class = "indexInfo">
                    <h2>{{ art.title }}</h2>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <br>
{% endblock %}