{% extends 'base.html' %}

{% block content %}

<div class = "container">
    <h2> Upload Art</h2>
    <form method = "post" enctype = "multipart/form-data">
        {% csrf_token %}
        {% for field in art %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
            </p>
        {% endfor %}
        <button type = "submit">Upload</button>
    </form>
<div>
{% endblock %}
