body{
    background-color:  #eeeeee !important;
}


#commentContainer{
    display: block;
    padding: 50px;
    margin-bottom: 30px;
}

.artDiv{
    display: flex;
}

.artImage{
    margin: auto;
}

body{
    background-color: #FFFFFF;
}

#user{
    background: #dddddd;
    padding: 10px;
}

#commentImage img{
    float:left;
    width:100px;
    height:100px;
    border:3px solid #ffffff;
    border-radius:10px;
}

#commentText{
    position:relative;
    float:left;
    margin-left:12px;
    width: 80%;
    height: 100px;
    padding:0px 20px;
    border-radius:10px;
    background-color:#FFFFFF;
    box-shadow:1px 1px 5px rgba(0,0,0,.2);
    word-wrap: break-word;
}

#user{
    margin-left: 25%;
    margin-right: 25%;
}

#user img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#artblock{
    margin: 15px;
    margin-left: 10%;
}

#commentBox{
    padding-top: 20px;
    margin-bottom: 20px;
}

.indexColumn {
    float: left;
    margin-left: 5px;
    margin-bottom: 16px;
    padding: 5px;
}

.indexColumn img{
    padding: 5px;
}

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
    .indexColumn {
        display: block;
    }
}

/* Add some shadows to create a card effect */
.indexCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    transition: 0.3s;
}

.indexCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Some left and right padding inside the container */
.indexItem {
    padding: 0 16px;
}

/* Clear floats */
.indexContainer::after, .indexRow::after {
    content: "";
    clear: both;
    display: table;
}

.registerForm{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.dels{
    border-radius: 5px;
}

#commentPost{
    border-radius: 5px;
    padding: 5px;
    border: none;
    display: block;
}

.artComment{
    margin-left: 180px; 
}

@media (max-width: 650px) {
    .artComment{
        margin-left: 0px;
    }
}

.signUpContainer{
    text-align: center;
    display: block;
}

  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }

  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }

  .form-signin .checkbox {
    font-weight: 400;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }

  .form-signin .form-control:focus {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
